@page
@model az_app_tim.Pages.DeploymentsSlots

@{
    ViewData["Title"] = "Deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Testing deployments slots</h1>
    <h3>Validating deployments slots feature</h3>
</div>