@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tim to your first Azure app deploy!</h1>
    <p>This was deployed from tools</p>
</div>
