@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome webapp was deployed from Git CI\CD</h1>
    <p>This was deployed from tools after fix</p>
</div>
